# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
*.iml
*.ipr
*.iws
.idea
out
.classpath
.project
.settings/
**/.idea/workspace.xml **/.idea/tasks.xml